.bg-dark{
    background-color: blue !important;
    min-height: 50px;
}
.navbar{
    background-color: #ffffff ;
    box-shadow: 0 2px 4px rgb(0, 0, 0,0.05);
    min-height: 100px;
}
.nav-link{
    color: #000000;
    margin-right: 15px;
    font-family: cursive;
    font-size: x-large;
    font-style: oblique;
}
.nav-link:hover{
    color: #038C17;
}
.logo-empresa{
    min-width: 80px;
    max-width: 100px;
    margin-left: 60px;
}
.navbar-toggler{
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;
}
.container-eb{
    padding: 100px;
}
.container-form{
   margin: 100px;
}
.background-image{
    opacity:25%;
}
.contact-text{
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}