* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: #f8f3f3 ;
    box-shadow: 0 2px 4px rgb(0, 0, 0,0.05);
    min-height: 100px;
}
.nav-link{
    color: #000000;
    margin-right: 15px;
    font-family: italic;
    font-size: large;
    font-style: inherit;
}
.nav-link:hover{
    color: #038C17;
}
.logo-empresa{
    min-width: 60px;
    max-width: 80px;
    margin-left: 60px;
}
.navbar-toggler{
    font-size: 40px;
}
.navbar-toggler:focus{
    outline: none;
}
.container{
    padding: 5px;
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 90vh !important;
}
.titlealbum{
    text-align: center;
    font-family: cursive;
    color: #A68B03;
}
.card img{
    height: 40vh;
}
.title-videos{
    font-family: cursive;
    color: #A68B03;
}
.cell{
    height: 50vh;
}
.card video{
    height: 40vh;
}
.descripcion-empresa{
    text-align: justify;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}